# Target Config
CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_rpi-4=y
# Image Config
CONFIG_EFI_IMAGES=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=512
#CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
#CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_KERNEL_BUILD_USER="xjun100"
CONFIG_GRUB_TITLE="OpenWrt AutoBuild"
#=============================Themes
CONFIG_PACKAGE_luci-theme-argon=y
# CONFIG_PACKAGE_luci-theme-bootstrap=y
# CONFIG_PACKAGE_luci-theme-material is not set
# CONFIG_PACKAGE_luci-theme-netgear is not set
#=============================docker
#CONFIG_PACKAGE_luci-app-docker=n
#CONFIG_PACKAGE_luci-i18n-docker-zh-cn=y
#CONFIG_PACKAGE_luci-app-dockerman=y
#=============================


#=============================
#以下为科学上网插件
#=============================ssrplus
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-i18n-ssr-plus-zh-cn=y
#=============================helloword
#CONFIG_PACKAGE_luci-app-vsftpd=y
#CONFIG_PACKAGE_luci-app-vssr=y
#CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray=y
#CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan=y
#CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Kcptun=y
#CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin=y
#CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Libev_Server=y
#=============================clash
#CONFIG_PACKAGE_luci-app-clash=y
CONFIG_PACKAGE_luci-app-openclash=y
#================================end
