# Target Config
CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_rpi-4=y
# Image Config
CONFIG_EFI_IMAGES=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=512
#CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
#CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_KERNEL_BUILD_USER="xjun100"
CONFIG_GRUB_TITLE="OpenWrt AutoBuild"
#=============================Themes
#CONFIG_PACKAGE_luci-theme-argon=y
#----------------------------------usb
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8150=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
#=============================
#CONFIG_PACKAGE_npc=y
#=============================
#以下为科学上网插件
#=============================clash
CONFIG_PACKAGE_luci-app-openclash=y
#================================end
